
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 0.7rem;
}


/* ===== Logo Section ===== */

.logo img  {
    margin-top: 25px;
    margin-bottom: 15px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    max-width: 20%;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

/* ===== Header Section ===== */

.header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.header-text h4 {
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 27px;
    margin-top: 0px;
    padding-top: 0px;
}

.header-text ul li {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    list-style: none;
}

.header-text p {
    color: rgb(0, 0, 0);
    font-size: 1.6rem;;
    line-height: 28px;
    font-weight: 300;
}

.header-saas img {
    margin-top: 30px;
    width: 100%;
}

.md-tabs{display: none;}
/* ===== Testimonials Section ===== */

.tiles_section{margin-top: 2%;margin-bottom: 2%}
.tiles_section-caption{
    color: #475363;
}

.tile_item {
    color: 	#475363;
    color: #475363;
    padding: 20% 0%;
    border: 1px solid #999999;
    border-radius: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3)!important;
    transition: .3s ease;
}

.tile_item:hover {
    border: 1px solid #475363;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5)!important;
    cursor: pointer;
}

.tiles_section a i {
    font-size: 50px;
    color: 	#475363;
}

.tiles_section-caption h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6rem;;
    margin-top: 25px;
}

table, td {
    border: solid 1px #d2ccccb8;
}
/* ===================================== */

.md-grid {
    max-width: 100rem !important;
}

.md-sidebar--secondary {
    margin-left: 100%;
}


/* ===== Footer Section ===== */

.footer {
    background-color: black;
    margin-top: 68px;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 3px solid #FF7D2C;
    bottom: 0;
    width: 100%;
}

#copyright {
    width: 50%;
}

#copyright p {
    color: #8c8b8a;
    font-weight: 600;
    font-size: 1.6rem;;
    text-transform: uppercase;
}

#copyright p a {
    text-decoration: none;
    color: #FF7D2C;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* -------------------------------------------------- MarkDown CSS---------------------------------- */

img[src*="#thumbnail"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
 }

 .md-main__inner{padding-top: 0rem !important}
 ul.breadcrumb {
    padding: 5px 10px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .md-footer-nav__link{padding-top: .4rem !important}
  .md-footer-nav__inner{padding: .2rem !important}

  [data-md-color-primary=cloudneeti] .md-header, [data-md-color-primary=cloudneeti] .md-hero {
    background-color: #2f353a;
    color:#FF8C00;
}
