
* {
margin: 0;
padding: 0;
}

body {
font-family: 'Raleway', sans-serif;
/* margin-top: 64px; */
/* overflow-y: scroll; */
overflow-x: hidden;
}

p {
font-size: 14px;
}


/* ===== Logo Section ===== */

.logo img  {
margin-top: 25px;
width: 25%;
transition: all 1s;
-moz-transition: all 1s;
-o-transition: all 1s;
-webkit-transition: all 1s;
}

/* ===== Header Section ===== */

.header {
background-attachment: fixed;
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}

.header-text h4 {
color: rgb(0, 0, 0);
font-size: 18px;
font-weight: 400;
line-height: 27px;
margin-top: 50px;
padding-top: 30px;
}

.header-text ul li {
color: rgb(0, 0, 0);
font-size: 16px;
line-height: 28px;
font-weight: 400;
list-style: none;
}

.header-text p {
color: rgb(0, 0, 0);
font-size: 17px;
line-height: 28px;
font-weight: 300;
}

.header-saas img {
margin-top: 95px;
width: 100%;

}


/* ===== Testimonials Section ===== */

.testimonial {
margin-top: 50px;
}

.item {
    color: 	#475363;
}

.item:hover {
    color: 	#FF7D2C;
}

.testimonial a i {
font-size: 50px;
color: 	#475363;
}


.testimonial-caption h2 {
text-transform: uppercase;
font-weight: 900;
font-size: 18px;
margin-top: 25px;
}


/* ===================================== */

.md-grid {
max-width: 100rem !important;
}

.md-sidebar--secondary {
margin-left: 100%;
}


/* ===== Footer Section ===== */

.footer {
    background-color: black;
    margin-top: 91px;
    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 3px solid  #FF7D2C;
}

#copyright {
    width: 50%;
}

#copyright p {
    color: #8c8b8a;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

#copyright p a {
    text-decoration: none;
    color: #FF7D2C;
}

